





 <div class="container">

    <img src="images\kidsrunning.jpg" alt="kids" style="width:50%;">

    <div class="container-category">
      <ul class="category__list">

          <li class="category__section">
               <a href="activitiescrafts.html" class="category__link">Activities & Crafts</a>
          </li>
          <li class="category__section">
              <a href="childevelopment.html" class="category__link">Child Development</a>
          </li>
          <li class="category__section">
              <a href="resourceguide.html" class="category__link">Resource Guide</a>
          </li>
      </ul>
    </div>
    <p th:text="${postToDisplay.category}" class="post__category">Child Development</p>
    <p th:text="${postToDisplay.category}" class="post__category">Child Development</p>
    <p th:text="${postToDisplay.category}" class="post__category">Activities & Crafts</p>
    <p th:text="${postToDisplay.category}" class="post__category">Activities & Crafts</p>
