html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--primary-color);
}
:root{
    --primary-color: #A31621;
    --background-color: #FCF7F8;
    --accent-color: #CED3DC;
    --secondary-color: #4E8098;
    --tertiary-color: #90c2e7;
}

a:link {
    text-decoration: none;
    color: var(--secondary-color);

}

a:visited {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
    color: var(--tertiary-color);
}

a:active {
    text-decoration: underline;
}
main{
    background-color: var(--background-color);
    color: var(--primary-color);
}
.container{

}
.header{
    background-color: var(--background-color);
    color: var(--secondary-color);
}