@import url("src\main\resources\static\css\fonts.css");

html,body {

    margin: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

:root{

    /*theme colors*/
    --text-gray:#3f4954;
    --tex-light:#686666da;
    --bg-color:#0f0f0f;
    --white:#ffffff;
    --midnight:#104f55;

    --Abel:'Abel',cursive;
    --Anton:'Anton',cursive;
    --Josefin_Sans:'Josefin_Sans',cursive;
    --Lexend_Deca:'Lexend_Deca',cursive;
    --Livvic:'Livvic',cursive;
    --sky:linear-gradient(120deg, #a1c4fd 0%, #c2efb 100%);

}
.div .nav-menu-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav .flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ul .nav-items{
    list-style-type: none;
}
.nav .nav-items{
    display: flex;
    margin: 0;
    text-align: center;
}
.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white);
}
.nav{
    background-color: white;
    padding: 0 2rem;
    height: 1px;
    min-height: 310vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}
.nav .nav-menu {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--text-gray);
}

h1 {
    font-family: var(--Lexend_Deca);
    font-size: 2.5rem;
    padding-bottom: 0rem;
}

h2 {
    padding-top: 0rem;
    font-family: var(--Lexend_Deca);

}

h3 {
    font-family: var(--Abel);
    font-size: 2.0rem;
   
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
}

.container {
    position: relative;
    text-align: center;
    color: blueviolet;
    margin: 0 5vw;
    font-size: 10px;
    font-weight: 200;
}
p {
    text-align: left;
    color: black;
}
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

post.detail.text {
    position: absolute;
}

.nav {
    background-color: white;
    padding: 0 2rem;
    height: 1px;
    min-height: 20vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    justify-content: space-between;
    padding-left: 50px;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.nav .nav-items .nav-link:hover {
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav-social {
    padding: 1.4rem 0;
}

.nav.social i {
    padding: 0 .2rem;
}

.nav.social i:hover {
    color: #a1c4cf;
}

.main .site-title {
    background: url(assets\Background-image.png);
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;

}

.main .site-title .site-background {
    padding: 10rem;
    text-align: center;
    /*color: var(--white);*/
}

.main .site-title h1, h3 {
    margin: 3rem;
}

.main .site-title .btn {
    margin: 1.8rem;
    background: var(--sky);
}

.main .site-title .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.main .blog {
    background: url(assets\Abract01.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

.main .blog .blog-post {
    padding-top: 6rem;
}

.main .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.main .blog-content span {
    display: block;
}

@media only screen and (max-width: 750px) {
    .nav .nav-menu, .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}


a:link {
    text-decoration: none;
    color: var(--text-gray);

}

a:visited {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    text-decoration: underline;
    color: var(--tertiary-color);
}

a:active {
    text-decoration: underline;
}

main {
    background-color: var(--background-color);
    color: var(--primary-color);
}


.header {
    background-color: var(--background-color);
    color: var(--secondary-color);
}
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  .img {
    width: 100%;
    padding: 20px;
  }
  
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  
