<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/hashtag.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Hashtags</title>
</head>
<body>
<div class="container">

    <main>
        <section>
            <h2>Our Hashtags</h2>
            <ul class="hashtags__list">
                <li th:each="hashtag: ${hashtags}" class="hashtags__list-item">
                    <a th:text="${hashtag.tagName}" th:href="@{'/hashtags/'+${hashtag.id}}"></a>
                </li>


            </ul>
        </section>
    </main>
</div>

<!--<h1 th:text="${hashtagToDisplay.postTitle}">Great at home summer activities for kids</h1>-->
<!--<h2 th:text="${hashtagToDisplay.postAuthor}">Paulette Nix</h2>-->
<!--<h3>2020</h3>-->
<!--<h4>5 out of 5</h4>-->
<!--<p>These activity was awesome.</p>-->
</body>
</html>